*{
	  box-sizing: border-box; 
	  margin: 0;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
   background: rgba(213, 250, 250, 0.651);
}


h1 {
  font-size: 75px;
  font-family: 'Courier New', Courier, monospace;
  color: black;
}
h2{
  font-family: 'Courier New', Courier, monospace;
  color: black;
  margin-top:3rem;

}

li,ol{
	list-style:none;
}
#app  {
 height: 720px;
 max-width: 780px;
 box-sizing: border-box;
 border: 2px solid black;
 margin: 6rem auto; 
 /*background-image: url("btn2.png");*/

}

#homepage{
  text-align: center;

}

#monJoueur{
  text-transform:uppercase;
  display:inline-flex;
}
/*#character-selector li:active{
  box-shadow:0px 1px 10px rgb(255, 0, 0);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}*/

#character-selector {
	padding: 0;
    margin: 80px 0px;

}

#character-selector li{
	width: 160px;
   height: 160px;
   /*border-radius: 5rem;*/
	box-shadow:0px 10px 10px grey;  
   -moz-transition: 0.15s;
   -o-transition: 0.15s;
   -webkit-transition: 0.15s;
   transition: 0.15s;
   margin: 10px ;
   display: inline-block;
 

}
img{
  /*border-radius: 5rem;*/
}
#character-selector li:hover,
#character-selector li.current,
#character-selector li.checked { 
  transform: translateY(-20px);
  box-shadow:0px 10px 50px rgb(20, 14, 14);
}
#character-selector li.checked { 
  box-shadow:0px 5px 70px rgb(250, 0, 0);
}

a{
  font-family: 'Courier New', Courier, monospace;

}

/*button {
	border: none;
	background: white;
	border-radius: 50px;
	padding: 10px;
	box-shadow: 0 5px #666;
	background-image: url("btn2.png") -91px 0;

}

button:active {
	background-color: #99ff66 ;
	box-shadow: 0 2px #666;
	transform: translateY(4px);

}*/


#btn-start-game {
  border : solid;
	border-radius: 25px;
    width: 30rem;
    height: 5rem;
    background:rgba(46, 147, 156, 0.383);
    box-shadow:0px 10px 10px grey;
}
#btn-start-game:hover {
    background:rgba(175, 251, 237, 0.664);
}
#btn-start-game:foous{
	outline: 0;
}
#btn-start-game:active{
  background : rgba(21, 255, 0, 0.397) ;
  box-shadow:0px 0px 0px rgba(0, 0, 0, 0.623);  

}
