*{
	  box-sizing: border-box; 
	  margin: 0;
}
html {
  font-family: s;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
   background: rgba(213, 250, 250, 0.651);
}


h1 {
  font-size: 75px;
  font-family: 'Courier New', Courier, monospace;
  color: black;
}

li,ol{
	list-style:none;
}
#app  {
 height: 720px;
 max-width: 780px;
 box-sizing: border-box;
 border: 2px solid black;
 margin: 6rem auto; 
 background: white;
 background-image: url("back2.jpg");
}

#homepage{
	text-align: center;
}

#nomJoueur{
  text-transform:uppercase;
  font-family:'Courier New', Courier, monospace;
  display:inline-flex;


}
#character-selector li:active {
	box-shadow:0px 1px 10px rgb(255, 75, 75);
  transform: translateY(4px);
}

#character-selector {
	padding: 0;
    margin: 100px 0px;


}

#character-selector li{
	width: 160px;
   height: 160px;
  /* box-shadow: 0 0 0 5px grey inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 grey, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);*/
	box-shadow:0px 10px 10px grey;  
   -moz-transition: 0.15s;
   -o-transition: 0.15s;
   -webkit-transition: 0.15s;
   transition: 0.15s;
   margin: 10px ;
   display: inline-block;

}

#character-selector li:hover, #character-selector li.current{ 
  transform: translateY(-20px);
}

/*button {
	border: none;
	background: white;
	border-radius: 50px;
	padding: 10px;
	box-shadow: 0 5px #666;
	background-image: url("btn2.png") -91px 0;

}

button:active {
	background-color: #99ff66 ;
	box-shadow: 0 2px #666;
	transform: translateY(4px);

}*/


#btn-start-game {
  border : solid;
	border-radius: 25px;
    width: 30rem;
    height: 5rem;
    background: rgba(21, 255, 0, 0.397) ;
}
#btn-start-game:hover {
    background:rgba(32, 255, 2, 0.424);
}
#btn-start-game:foous{
	outline: 0;
}
#btn-start-game:active{
  background:rgb(0, 255, 0); 

}
